/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #454748;
}

a {
  text-decoration: none;
  color: #4fc87a;
  transition: color .3s ease-in-out;
}

a:hover {
  color: #fdc700;
}

h1 {
  font-size: 48px;
  color: #4fc87a;
  margin-top: 0;
}

p {
  margin-top: 0;
}

/* Utils */
.fw-500 {
  font-weight: 500;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
